.content_products{
  border-radius: 3px;
  background-color: #FFF;
  box-shadow: 1px 1px 5px 0 rgba(0,0,29,0.22);
  margin-bottom: 25px;
}

.products_list{
  padding: 13px 0
}

.products_title{
  font-family: 'HelveticaNeueMedium';
}