.products_item{
  margin-bottom: 13px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #EEE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.products_item:last-child{
  margin-bottom: 0;
}

.products_info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
} 

.products_info h2{
  width: 100%;
  text-align: left;
  color: #212122;
  font-size: 13px;
  font-family: 'HelveticaNeueRegular';
}

.products_info ins{
  width: 100%;
  margin-top: 10px;
  text-align: right;
  color: #212122;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
